.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: calc(-1*var(--w)) 0, calc(-2*var(--w)) 0, calc(-3*var(--w)) 0, calc(-4*var(--w)) 0, calc(-5*var(--w)) 0, calc(-6*var(--w)) 0, calc(-7*var(--w)) 0, calc(-8*var(--w)) 0, calc(-9*var(--w)) 0;
  animation: l16 2s infinite;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  visibility: visible;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 25px;
}

.loader img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  animation: pulse 2s infinite;
}

.loader:before {
  content:"Loading...";
}

@keyframes l16 {
  20% { text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 #63fff4, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0; }
  40% { text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0 orange, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0; }
  60% { text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 yellow, 
    calc(-8*var(--w)) 0 #ffa516, 
    calc(-9*var(--w)) 0 red; }
  80% { text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0 yellow, 
    calc(-3*var(--w)) 0 #63fff4, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 red, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 grey, 
    calc(-8*var(--w)) 0 #63fff4, 
    calc(-9*var(--w)) 0 ; }
}

@keyframes pulse {
  0%, 25%, 50%, 75%, 100% {
    transform: rotate(3deg);
    opacity: 1;
  }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-3deg);
    opacity: 0.95; 
  }
}

body {
    visibility: hidden;
    overflow: hidden;
}

body.loaded {
    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
}

body.loaded .loader {
    display: none;
}

.dark-mode .loader {
  color: #ffffff;
  text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 #ffffff, 
    calc(-3*var(--w)) 0 #ffffff, 
    calc(-4*var(--w)) 0 #ffffff,
    calc(-5*var(--w)) 0 #ffffff, 
    calc(-6*var(--w)) 0 #ffffff, 
    calc(-7*var(--w)) 0 #ffffff, 
    calc(-8*var(--w)) 0 #ffffff, 
    calc(-9*var(--w)) 0 #ffffff;
}

body {
    margin: 0;
    animation: movingColor 10s infinite;
    background: linear-gradient(45deg, #a6e3ff, #85d3c8, #c7b3ff);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

:root {
    --scrollbar-bg: #2e4053;
    --scrollbar-thumb: #1ad50d;
    --scrollbar-thumb-hover: #0be9f0;
}

.dark-mode {
    --scrollbar-bg: #34495e;
    --scrollbar-thumb: #0be9f0;
    --scrollbar-thumb-hover: #1ad50d;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

@keyframes movingColor {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

#particles-js {
  visibility: visible !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#projects-content,
section {
  background: transparent;
  background-color: #2e4053;
  border: 5px double #1ad50d;
  padding: 20px;
  margin: 0px auto;
  max-width: 800px;
  text-align: center;
  overflow: hidden;
}

.projects-content {
  text-align: left;
}

.projects-iframe,
.projects-video {
  border: 2px solid #1ad50d;
}

.img-section {
  width: 600px;
  height: 400px;
  border: 2px solid #1ad50d;
}

section a {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  color: black;
}

section a:hover {
  color: darkblue;
}

section ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section li {
  margin-bottom: 10px;
  flex-basis: 48%;
}

#scrollToTopButton {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #17C3B2; /* Match the button background color */
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#scrollToTopButton i {
    font-size: 24px;
    transition: transform 0.3s ease;
}

#scrollToTopButton:hover {
    background-color: #00ffff; /* Match hover gradient color */
    color: #ffffff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  text-align: left;
}

section {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  flex-basis: 48%;
}

.logo {
  left: 20px;
  width: 60px;
  height: auto;
}

#dark-mode-toggle,
#github-link {
  position: absolute;
  z-index: 999;
}

.icons a, .icons img, .icons i {
    transition: transform 0.3s ease;
}

.icons a:hover, .icons img:hover, .icons i:hover {
    transform: scale(1.2);
}

.icons img.logo:hover {
    transform: scale(1.2);
}

.icons #github-link i:hover {
    transform: scale(1.2);
}

#dark-mode-toggle {
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: inherit;
}

#dark-mode-toggle:focus {
    outline: none; 
}

#dark-mode-icon {
    transition: color 0.3s; 
}

#dark-mode-icon {
  font-size: 42px;
  color: #ffffff;
}

.dark-mode body {
  background: linear-gradient(45deg, #2c3e50, #34495e, #5d6d7e);
  color: #ffffff;
}

.dark-mode #projects-content,
.dark-mode section {
  background-color: #34495e;
  border: 5px double #0be9f0;
}
.dark-mode .projects-iframe,
.dark-mode .projects-video {
  border: 2px solid #0be9f0;
}

.dark-mode .img-section {
  border: 2px solid #0be9f0;
}

body.dark-mode #scrollToTopButton {
    background-color: #0B5563; 
    color: #ffffff;
}

body.dark-mode #scrollToTopButton:hover {
    background-color: #008080; 
    color: #ffffff;
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
}

#github-link {
  top: 20px;
  left: 48%;
  cursor: pointer;
}

#github-link i {
  font-size: 42px;
  color: #ffffff;
}

.home-button {
    cursor: pointer;
    margin-top: 50px;
    position: relative;
    border: none; 
    border-radius: 50px; 
    padding: 14px 40px; 
    background: linear-gradient(135deg, #00a8fd 0%, #ff69b4 100%); 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background: linear-gradient(135deg, #00ffff 0%, #ff00ff 100%); 
    transform: translateY(-3px); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25); 
}

.home-button:active {
    transform: translateY(2px); 
    background: linear-gradient(135deg, #008080 0%, #ff1493 100%); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media screen and (max-width: 600px) {
  body {
      padding: 10px;
  }

  .projects-video,
  .img-section {
    width: 100%;
    height: auto;
  }

  .projects-iframe{
    width: 100%;
    max-height: 50vh;
  }

  #projects-content,
  section {
      padding: 15px;
      margin: 0;
      max-width: 100%;
  }

  #projects-content {
      width: 95%;
  }

  section h1,
  section h2,
  section ul,
  section p {
      font-size: 16px;
  }

  section ul {
      flex-direction: column;
      align-items: center;
  }

  section li {
      flex-basis: 100%;
  }
}

  section a {
  font-size: 24px; 
  font-weight: bolder;
  text-align: center;
  color: black;
  width: 100%; 
  padding: 5px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


@media screen and (min-width: 600px) {
  body {
      padding: 20px;
  }

  .projects-video,
  .img-section {
    max-width: 100%;
    height: auto;
  }

  .projects-iframe{
    width: 100%;
    max-height: 30vh;
  }


  #projects-content,
  section {
      padding: 20px;
      margin: 0 auto;
      max-width: 800px;
  }

  section h1,
  section h2,
  section ul,
  section p {
      font-size: 14px;
  }
  section a {
    font-size: 20px; 
  }
}

.home-button {
  font-size: 14px; 
  padding: 10px 30px;
}

@media screen and (max-width: 1200px) {
  body {
      padding: 20px;
  }

  .projects-video,
  .img-section {
    max-width: 100%;
    height: auto;
  }

  .projects-iframe{
    width: 100%;
    max-height: 50vh;
  }

  #projects-content,
  section {
      padding: 20px;
      margin: 0 auto;
      max-width: 800px;
  }

  section h1,
  section h2,
  section ul,
  section p {
      font-size: 14px;
  }
  section a {
    font-size: 20px; 
  }
}

.home-button {
  font-size: 18px; 
  padding: 14px 32px;
}
