body {
    margin: 0;
    animation: movingColor 10s infinite;
    background: linear-gradient(45deg, #a6e3ff, #85d3c8, #c7b3ff);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

:root {
    --scrollbar-bg: #2e4053;
    --scrollbar-thumb: #1ad50d;
    --scrollbar-thumb-hover: #0be9f0;
}

.dark-mode {
    --scrollbar-bg: #34495e;
    --scrollbar-thumb: #0be9f0;
    --scrollbar-thumb-hover: #1ad50d;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

@keyframes movingColor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

section {
    background: transparent;
    background-color: #2e4053  ;
    border: 5px double #1ad50d;
    padding: 20px;
    margin: 0px auto;
    max-width: 800px;
    text-align: center;
}

#scrollable-content {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-color: #2e4053;
    border: 5px double #1ad50d;
    border-radius: 10px; 
}

#socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
}

#socials li {
    margin: 10px 0;
    flex: 1 1 48%;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}

#socials li i {
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

#socials li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

#socials li a:hover {
    text-decoration: underline;
}

#socials li:nth-child(1) i,
#socials li:nth-child(1) a:hover {
    color: #7289da; 
}

#socials li:nth-child(2) i,
#socials li:nth-child(2) a:hover {
    color: #e4405f; 
}

#socials li:nth-child(3) i,
#socials li:nth-child(3) a:hover {
    color: #0077b5; 
}

#socials li:nth-child(4) i,
#socials li:nth-child(4) a:hover {
    color: #f48024; 
}

#socials li:nth-child(5) i,
#socials li:nth-child(5) a:hover {
    color: #9146ff; 
}

#socials li:nth-child(6) i,
#socials li:nth-child(6) a:hover {
    color: #ff0000; 
}

#tech-stack ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    max-width: 600px; 
    margin: 0 auto; 
}

#tech-stack li {
  cursor: pointer;
    margin: 10px 0; 
    flex: 1 1 48%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box; 
}

#tech-stack li i {
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

#tech-stack li:hover {
    color: #00ffff; 
    text-decoration: underline; 
}

#tech-stack li:hover i {
    color: #0be9f0; 
    text-decoration: none; 
}

h1, h2, h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #f5f5f5;
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #00ffff;
    margin-bottom: 20px; 
}

h3 {
    font-size: 26px;
    color: #000000;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
}

section {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    flex-basis: 48%;
}

.logo {
    left: 20px;
    width: 60px;
    height: auto; 
}

#github-trophies {
    background: transparent;
    background-color:   #414c4c;
    border: 5px double #1ad50d;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.trophy-container {
    max-width: 100%;
    overflow-x: auto; 
}

.project-button {
    cursor: pointer;
    margin-top: 50px;
    left: 0%;
    top: 60%;
    position: relative;
    transform: translate(-0%, -50%);
    border: 2px solid #1ad50d;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: transparent;
    background: linear-gradient(
        to right, rgba(0, 168, 253), #fff 35%, #e00a95
    );
    background-size: 200% auto;
    transition: ease-out 0.3s;
    animation: gradient 3s linear infinite;
}

.project-button:hover{
    text-decoration: underline;
    border: 2px solid #0be9f0;
    background: linear-gradient(
        to right, cyan, pink 35%, purple 
    );
    background-size: 200% auto;
    transition: ease-out 0.3s;
    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 70%;
    }
}


@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  #tech-stack li {
        flex-basis: 100%;
  }

  #scrollable-content,
  section,
  #github-trophies {
    padding: 15px;
    margin: 0;
    max-width: 100%;
  }

  #scrollable-content {
    width: 95%;
  }

  section h1,
  section h2,
  section ul,
  section p,
  #github-trophies,
  #dev-meme,
  #github-stats {
    font-size: 16px;
  }

  section ul {
    flex-direction: column;
    align-items: center;
  }

  section li,
  li {
    flex-basis: 100%;
  }

  .stats-container,
  .trophy-container,
  .meme-container,
  #github-stats {
    max-width: 100%;
    margin: 0 auto;
  }

  #github-link {
    left: 50%;
    transform: translateX(-50%);
  }

  #github-stats img {
    width: 100%;
    height: auto;
  }

  #dev-meme img {
    width: 100%;
    height: auto;
  }


.top-repo{
    width: 100%;
    height: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  body {
    padding: 20px;
  }

  #scrollable-content,
  section,
  #github-trophies {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }

  section h1,
  section h2,
  section ul,
  section p,
  #github-trophies {
    font-size: 18px;
  }

  section li,
  li {
    flex-basis: 48%;
  }

  #github-link {
    top: 20px;
    left: 20px;
  }

  .top-repo {
    width: 100%;
    height: auto;
  }
}

#dark-mode-toggle,
#github-link {
  position: absolute;
  z-index: 999;
}

.icons a, .icons img, .icons i {
    transition: transform 0.3s ease;
}

.icons a:hover, .icons img:hover, .icons i:hover {
    transform: scale(1.2);
}

.icons img.logo:hover {
    transform: scale(1.2);
}

.icons #github-link i:hover {
    transform: scale(1.2);
}

#dark-mode-toggle {
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: inherit;
}

#dark-mode-toggle:focus {
    outline: none; 
}

#dark-mode-icon {
    transition: color 0.3s; 
}

#dark-mode-icon {
  font-size: 42px;
  color: #ffffff;
}

.dark-mode body {
  background: linear-gradient(45deg, #2c3e50, #34495e, #5d6d7e);
  color: #ffffff;
}

.dark-mode #scrollable-content,
.dark-mode section,
.dark-mode #github-trophies {
  background-color: #34495e;
  border: 5px double #0be9f0;
}

#github-link {
  top: 20px;
  left: 48%;
  cursor: pointer;
}

#github-link i {
  font-size: 42px;
  color: #ffffff; 
}

